STATISTICAL TESTING ON UNLABELLED DATASET

During the process of Labelling we saw many mentions that were given by females, like they were stating 'with husband' or 'with boy friend'..... So what we did here found the total no of 'husband_mentions', and total no of 'wife_mentions' and then calculated the proportions of these values with the total sample size and performed a z-test(since the sample size was large) to prove our assumption statistically.

NULL HYPOTHESIS: The proportion of 'husband' mentions is lower than or equal to that of the proportion of 'wife' mentions.

ALTERNATIVE HYPOTHESIS: The proportion of 'husband' mentions is higher than the proportion of 'wife' mentions.

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:

final_df = pd.read_csv("/content/drive/MyDrive/final_dataset.csv")

final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1142194 entries, 0 to 1142193
Data columns (total 22 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   business_id   1142194 non-null  object
 1   name          1142193 non-null  object
 2   address       1141997 non-null  object
 3   city          1142192 non-null  object
 4   state         1142192 non-null  object
 5   postal_code   1142192 non-null  object
 6   latitude      1142192 non-null  float64
 7   longitude     1142192 non-null  float64
 8   stars_x       1142192 non-null  float64
 9   review_count  1142192 non-null  float64
 10  is_open       1142192 non-null  float64
 11  attributes    1141656 non-null  object
 12  categories    1142192 non-null  object
 13  hours         1116461 non-null  object
 14  review_id     1142192 non-null  object
 15  user_id       1142192 non-null  object
 16  stars_y       1142192 non-null  float64
 17  useful        1142192 non-null  float64
 18  funny         1142192 non-null  float64
 19  cool          1142192 non-null  float64
 20  text          1142192 non-null  object
 21  date          1142191 non-null  object
dtypes: float64(9), object(13)
memory usage: 191.7+ MB

In [4]:
final_df.head(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,review_count,...,categories,hours,review_id,user_id,stars_y,useful,funny,cool,text,date
0,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227,39.637133,-86.127217,2.5,28.0,...,"American (Traditional), Restaurants, Diners, B...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...",YByDh56Hl11HoYdBm-uArA,9hhRs_n85m-jsKOXp3jt7Q,1.0,0.0,0.0,0.0,Went there at 4am and there was only one waitr...,2016-05-08 08:49:25
1,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227,39.637133,-86.127217,2.5,28.0,...,"American (Traditional), Restaurants, Diners, B...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...",3vwdkRRoUe4PewzD8HvQbQ,-BX5x3Ys-2JzFba3LiWlHA,1.0,0.0,0.0,0.0,I had an immensely frustrating experience here...,2017-08-30 10:52:52
2,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227,39.637133,-86.127217,2.5,28.0,...,"American (Traditional), Restaurants, Diners, B...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...",LX2or1ZvpaO8x9Xb8UxF5Q,tftplxTcJYHU8nrwCwtzFg,2.0,1.0,0.0,0.0,"Food was decent, staff were accommodating. Res...",2015-03-21 14:00:29
3,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227,39.637133,-86.127217,2.5,28.0,...,"American (Traditional), Restaurants, Diners, B...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...",LWQJo1dFvAgJQF_dxN6JCA,G_eZLhf1Kw5WBpMlXHizNQ,4.0,0.0,0.0,0.0,The staff here was great. We had a bunch of pe...,2014-03-16 13:59:31
4,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227,39.637133,-86.127217,2.5,28.0,...,"American (Traditional), Restaurants, Diners, B...","{'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...",yQJXhZIF6_VMC5gY7gBDAw,iYpCMhEqsped1647fF_u-A,1.0,0.0,0.0,0.0,Food was awful! Hamburger was burnt and cold....,2018-08-12 15:32:47

In [6]:
# Assuming 'Review' is the column containing the reviews
reviews = final_df['text'].astype(str)
stat_df=pd.DataFrame()
stat_df['Review'] = final_df['text']
# Define the terms to count
terms_to_count = ['hubby', 'husband','wife', 'boyfriend', 'girlfriend','my guy','my girl']

# Count occurrences of each term in the reviews
for term in terms_to_count:
    stat_df[f'{term}_mentions'] = reviews.str.lower().str.count(term.lower())  # case-insensitive matching

# Display the DataFrame with the new columns
print(stat_df[['Review'] + [f'{term}_mentions' for term in terms_to_count]])

                                                    Review  hubby_mentions  \
0        Went there at 4am and there was only one waitr...               0
1        I had an immensely frustrating experience here...               0
2        Food was decent, staff were accommodating. Res...               0
3        The staff here was great. We had a bunch of pe...               0
4        Food was awful!  Hamburger was burnt and cold....               0
...                                                    ...             ...
1142189  I was in Philadelphia visiting a family member...               0
1142190  I lived on this campus for 4 years and it was ...               0
1142191  I've had good and bad experiences here. On ave...               0
1142192  Overall a decent option if you're sick and tir...               0
1142193  I don't know how this place doesn't have five ...               0

         husband_mentions  wife_mentions  boyfriend_mentions  \
0                       0              0                   0
1                       0              0                   0
2                       0              0                   0
3                       0              0                   0
4                       0              0                   0
...                   ...            ...                 ...
1142189                 0              0                   0
1142190                 0              0                   0
1142191                 0              0                   0
1142192                 0              0                   0
1142193                 0              0                   0

         girlfriend_mentions  my guy_mentions  my girl_mentions
0                          0                0                 0
1                          0                0                 0
2                          0                0                 0
3                          0                0                 0
4                          0                0                 0
...                      ...              ...               ...
1142189                    0                0                 0
1142190                    0                0                 0
1142191                    0                0                 0
1142192                    0                0                 0
1142193                    0                0                 0

[1142194 rows x 8 columns]

In [9]:


#Filter rows where at least one of the columns is non-zero
filtered_df = stat_df[((stat_df['husband_mentions'] + stat_df['hubby_mentions'] +
                        stat_df['boyfriend_mentions'] + stat_df['my guy_mentions']) > 0) |
                      ((stat_df['wife_mentions'] + stat_df['girlfriend_mentions'] +
                        stat_df['my girl_mentions']) > 0)]

# Perform the t-test on the filtered DataFrame
husband_mentions_filtered = filtered_df['husband_mentions'] + filtered_df['hubby_mentions'] + filtered_df['boyfriend_mentions'] + filtered_df['my guy_mentions']
wife_mentions_filtered = filtered_df['wife_mentions'] + filtered_df['girlfriend_mentions'] + filtered_df['my girl_mentions']


print(filtered_df.shape)
print(filtered_df.head())

# Create a DataFrame with counts
counts_df = pd.DataFrame({
    'Count(H)': [husband_mentions_filtered.sum()],
    'Count(non-H)': [len(husband_mentions_filtered) - husband_mentions_filtered.sum()],
    'Count(W)': [wife_mentions_filtered.sum()],
    'Count(non-W)': [len(wife_mentions_filtered) - wife_mentions_filtered.sum()]
})

# Display the counts table
print(counts_df)

(136660, 8)
                                               Review  hubby_mentions  \
13  I have three words for you: DON'T EAT HERE! Wh...               0
14  We had a coupon for buy 1 get 1, so my husband...               0
35  I hadn't had Dominos for at least 15+ years so...               0
36  So this is the pizza joint my son and I hit up...               0
61  Really enjoying this new find for breakfast. W...               0

    husband_mentions  wife_mentions  boyfriend_mentions  girlfriend_mentions  \
13                 2              0                   0                    0
14                 2              0                   0                    0
35                 1              0                   0                    0
36                 0              1                   0                    0
61                 1              0                   0                    0

    my guy_mentions  my girl_mentions
13                0                 0
14                0                 0
35                0                 0
36                0                 0
61                0                 0
   Count(H)  Count(non-H)  Count(W)  Count(non-W)
0    111192         25468     82668         53992

In [10]:
import scipy.stats as stats


# Given data
count_husband_mentions = 111192
count_non_husband_mentions = 25468
count_wife_mentions = 82668
count_non_wife_mentions = 53992
total_reviews = 1142194


# Proportions
p_husband = count_husband_mentions / total_reviews
p_wife = count_wife_mentions / total_reviews


# Sample sizes
n_husband = count_husband_mentions + count_non_husband_mentions
n_wife = count_wife_mentions + count_non_wife_mentions



# Pooled proportion
p_pooled = (n_husband * p_husband + n_wife * p_wife) / (n_husband + n_wife)


# Z statistic
z_statistic = (p_husband - p_wife) / ((p_pooled * (1 - p_pooled)) * ((1 / n_husband) + (1 / n_wife)))**0.5


# Calculate p-value
p_value = 1 - stats.norm.cdf(z_statistic)


# Assuming a significance level of 0.05
alpha = 0.01

print("p_value =  ",p_value)
print("z_statistic = ",z_statistic)

# Compare p-value to significance level
if p_value < alpha:
    print("Reject the null hypothesis. There is evidence that the proportion of 'husband' mentions is higher than the proportion of 'wife' mentions.")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence to suggest a difference in proportions.")

p_value =   0.0
z_statistic =  23.42469987240813
Reject the null hypothesis. There is evidence that the proportion of 'husband' mentions is higher than the proportion of 'wife' mentions.

So the results of the z_test help us to reject the NULL Hypothesis. And hence there is enough evidence that 'husband' mentions are more than 'wife' mentions. This mean that 'The number of reviews given by female customers is higher than the number of reviews given by male customers'. JUST ONE OF THE DEMOGRAPHIC INSIGHT WE FOUND